section.information
    .container
        .tells
            .div
                hr.tells__line
                span.tells__title1 The best House cleaning Company
                h1.tells__title2 About Our Moura's Company
                p.tells__about We specialize in window cleaning and more. We are dedicated to improving the look and value of homes and small business in their communites.
        .click
            a.button.button--orange(href="tel: 1 785 452 4521")
                i.fa.fa-phone.icon(aria-hidden="true")
                .text
                    .click__about Call Us Today
                     h1.click__title 1-785-452-4521