chooseus.chooseus
    .container
        .logo
            img(src="images/we_choose.png" alt="picture")
        .information
            hr
            h3 Why Chose Us
            h1 We are best House Cleaning Services Company

            ul
                li Every Employed wears a photo ID badge.
                li Mobile are custom Wrapped for easy identification.
                li We are a fully insured nationally ranked brand.
                li All work is backed by our exclusive "Streak-Free Guarantee".
                li We offer multiple services to manitain your home.
                li Our services any more affordable than you think.

            a.button.button--orange(href="#")
                img(src="images/award.png")
                span We Are also Certified Company