.contacts
    i.fa.fa-map-marker.contact__icon(aria-hidden="true")
    span.contact__text 333, Road Broken Street, 88 New York

    a.contact(href="tel: 1 785 452 4521")
        i.fa.fa-phone.contact__icon(aria-hidden="true")
        span.contact__text  1 785 452 4521

    i.fa.fa-clock-o.contact__icon(aria-hidden="true")
    span.contact__text Mon-Sat 8.00am-6.00pm

    a.twitter-icon(href="https://twitter.com/")
        i.fa.fa-twitter.contact__icon(aria-hidden="true")

    a.facebook-icon(href="https://www.facebook.com/")
        i.fa.fa-facebook.contact__icon__other(aria-hidden="true")

    a.youtube-icon(href="https://www.youtube.com/")
        i.fa.fa-youtube-play.contact__icon__other(aria-hidden="true")

    a.google-icon(href="https://www.google.com/")
        i.fa.fa-google-plus.contact__icon__other(aria-hidden="true")