section.deliv
        h1 Delivering the Best Service
        h1 Solution to Our Client
        a.button.button__white(href="#") Book Today

        .container
            .img
                img(src="images/circle_1.png" alt="picture")
                img.img__center(src="images/circle_2.png" alt="picture")
                img(src="images/circle_3.png" alt="picture")
            .text
                span This is due to their exelent service, company pricing and customer support.it's throughty refresing to get such a personal touch.
                p -Zahir Hasan