section.footer
    .footer__top
        .container
            .one
                i.fa.fa-map-marker.footer__top__icon(aria-hidden="true")
                span.contact__text 333, Road Broken Street, 88 New York

            .two
                a.contact(href="tel: 1 785 452 4521")
                    i.fa.fa-phone.footer__top__icon(aria-hidden="true")
                    span.contact__text  1 785 452 4521

            .three
                i.fa.fa-clock-o.footer__top__icon(aria-hidden="true")
                span.contact__text Mon-Sat 8.00am-6.00pm
    .footer__medium
        .container

            ul.ul__1
                li
                    h1 About Moura's
                li
                    hr
                li
                    span A wonderful serenity has taken of entire soul, like these sweet spring his which his enjoy with my whole heart, like a these sweet spring. Bettar
                li
                    a.twitter-icon(href="https://twitter.com/")
                        i.fa.fa-twitter.footer__medium__icon__twitter(aria-hidden="true")

                    a.facebook-icon(href="https://www.facebook.com/")
                        i.fa.fa-facebook-square.footer__medium__icon(aria-hidden="true")

                    a.youtube-icon(href="https://www.youtube.com/")
                        i.fa.fa-youtube-play.footer__medium__icon(aria-hidden="true")

                    a.google-icon(href="https://www.google.com/")
                        i.fa.fa-google-plus.footer__medium__icon(aria-hidden="true")
            ul.ul__2
                li
                    h1 Ouick Links
                li
                    hr
                li
                    span Service
                li
                    span Request
                li
                    span Gallary
                li
                    span About Us
                li
                    span Dlog

            ul.ul__3
                li
                    span Careers
                li
                    span private Policy
                li
                    span Locatiom
                li
                    span Exparts Tips
                li
                    span Terms & Condition


            ul.ul__4
                li
                    h1 Ouick Links
                li
                    hr
                li
                    span If you want receive our all weekly update adout new offers discount all time and we sign bleow HERE
                li
                    input(type="text" value="Enter Your Email")

                    a.google-icon(href="https://www.google.com/")
                        i.fa.fa-paper-plane.footer__medium__icon__input(aria-hidden="true")

    .footer__bottom
        .container
            img(src="images/footer_logo.png" alt="picture")
            span ©2019 House Cleaning Service All right reserved. Designed by Zahid Hasan
