section.footer
    .footer__top
        .container
            .one
                i.fa.fa-map-marker.footer__top__icon(aria-hidden="true")
                span.contact__text 333, Road Broken Street, 88 New York
            .two
                a.contact(href="tel: 1 785 452 4521")
                    i.fa.fa-phone.footer__top__icon(aria-hidden="true")
                    span.contact__text  1 785 452 4521
            .three
                i.fa.fa-clock-o.footer__top__icon(aria-hidden="true")
                span.contact__text Mon-Sat 8.00am-6.00pm
    .footer__medium
        .container
            ul
                li
                    h1 About Moura's
                li
                    hr
                li
                    span A wonderful serenity has taken of entire soul, like these sweet spring his which his enjoy with my whole heart, like a these sweet spring. Bettar
                li
                    a.twitter-icon(href="https://twitter.com/")
                        i.fa.fa-twitter.footer__medium__icon__twitter(aria-hidden="true")

                    a.facebook-icon(href="https://www.facebook.com/")
                        i.fa.fa-facebook-square.footer__medium__icon(aria-hidden="true")

                    a.youtube-icon(href="https://www.youtube.com/")
                        i.fa.fa-youtube-play.footer__medium__icon(aria-hidden="true")

                    a.google-icon(href="https://www.google.com/")
                        i.fa.fa-google-plus.footer__medium__icon(aria-hidden="true")
            ul
                li
                    h1 About Moura's
                li
                    hr
                li
                    span A wonderful serenity has taken of entire soul, like these sweet spring his which his enjoy with my whole heart, like a these sweet spring. Bettar
                li
                    a.twitter-icon(href="https://twitter.com/")
                        i.fa.fa-twitter.footer__medium__icon__twitter(aria-hidden="true")

                    a.facebook-icon(href="https://www.facebook.com/")
                        i.fa.fa-facebook-square.footer__medium__icon(aria-hidden="true")

                    a.youtube-icon(href="https://www.youtube.com/")
                        i.fa.fa-youtube-play.footer__medium__icon(aria-hidden="true")

                    a.google-icon(href="https://www.google.com/")
                        i.fa.fa-google-plus.footer__medium__icon(aria-hidden="true")
            ul
                li
                    h1 About Moura's
                li
                    hr
                li
                    span A wonderful serenity has taken of entire soul, like these sweet spring his which his enjoy with my whole heart, like a these sweet spring. Bettar
                li
                    a.twitter-icon(href="https://twitter.com/")
                        i.fa.fa-twitter.footer__medium__icon__twitter(aria-hidden="true")

                    a.facebook-icon(href="https://www.facebook.com/")
                        i.fa.fa-facebook-square.footer__medium__icon(aria-hidden="true")

                    a.youtube-icon(href="https://www.youtube.com/")
                        i.fa.fa-youtube-play.footer__medium__icon(aria-hidden="true")

                    a.google-icon(href="https://www.google.com/")
                        i.fa.fa-google-plus.footer__medium__icon(aria-hidden="true")
            ul
                li
                    h1 About Moura's
                li
                    hr
                li
                    span A wonderful serenity has taken of entire soul, like these sweet spring his which his enjoy with my whole heart, like a these sweet spring. Bettar
                li
                    a.twitter-icon(href="https://twitter.com/")
                        i.fa.fa-twitter.footer__medium__icon__twitter(aria-hidden="true")

                    a.facebook-icon(href="https://www.facebook.com/")
                        i.fa.fa-facebook-square.footer__medium__icon(aria-hidden="true")

                    a.youtube-icon(href="https://www.youtube.com/")
                        i.fa.fa-youtube-play.footer__medium__icon(aria-hidden="true")

                    a.google-icon(href="https://www.google.com/")
                        i.fa.fa-google-plus.footer__medium__icon(aria-hidden="true")
    .footer__bottom
