section.forma
    .container
        .tells
            .div
                ul
                    li
                        hr.tells__line
                    li
                        span.tells__title1 Book Service Today
                    li
                        h1.tells__title2 Get A Free Quote
                    li
                        input(type='text' value='Your Name')

                    li
                        input(type='text' value='Email Address')
                    li
                        input(type='text' value='Phone Number')
                    li.li__end
                        a.button.button--orange.form-button(href="#") Submite Now

        .click
            a.button.button--orange(href="tel: 1 785 452 4521")
                i.fa.fa-phone.icon(aria-hidden="true")
                .text
                    .click__about Call Us Today
                        h1.click__title 1-785-452-4521