section.hero
    .hero__about We clean a Whole lot more!
    h1.hero__title Cleaning Yours House
    h1.hero__title__b Make World & Clean Mine



    a.button.button--orange.button--bannar(href="#") Book Today