section.latest_blog
            h1 Latest Blog Posts
            h3 Our company is latest at cleaning servicing company. We can clean your space including home.
            hr

            .container
                .div.div1

                    ol
                        li
                            img(src="images/blog_1.png" alt="picture")
                        li
                            h1 The Shore of this Uncharted
                        li
                            i.fa.fa-phone.contact__icon(aria-hidden="true")
                            span.contact__text  1 785 452 4521
                        li
                            span sfgg
                        li
                            p Read more
                .div.div2_3
                    .div.div2
                        .img: img(src="images/blog_2.png" alt="picture")
                        ol
                            li
                                h1 The Shore of this Uncharted
                            li
                                i.fa.fa-phone.contact__icon(aria-hidden="true")
                                span.contact__text  1 785 452 4521
                            li
                                span sfgg
                            li
                                p Read more

                    .div.div3
                        .img: img(src="images/blog_3.png" alt="picture")
                        ol
                            li
                                h1 The Shore of this Uncharted
                            li
                                i.fa.fa-phone.contact__icon(aria-hidden="true")
                                i.fa.fa-phone.contact__icon(aria-hidden="true")
                                i.fa.fa-phone.contact__icon(aria-hidden="true")
                            li
                                span sfgg
                            li
                                p Read more




