section.latest_blog
            .top
                h1 Latest Blog Posts
                span Our company is latest at cleaning servicing company. We can clean your space including home.
                hr.top__hr

            .container
                .div.div1

                    ol
                        li
                            img.one(src="images/blog_1.png" alt="picture")
                        li
                            h1.latest_blog__text__h1 The Shore of this Uncharted
                        li
                            i.fa.fa-user.latest_blog__icon(aria-hidden="true")
                            span.latest_blog__text.text_icon  Admin
                            i.fa.fa-comment-o.latest_blog__icon(aria-hidden="true")
                            span.latest_blog__text.text_icon  25
                            i.fa.fa-heart-o.latest_blog__icon(aria-hidden="true")
                            span.latest_blog__text.text_icon  15
                        li
                            span.latest_blog__text A wonderful serenity has taken possession of my entire soul, like these sweet which I enjoy with my whole heart I am alone and feel taken possession of my entire soul, like these sweet.
                        li
                            span.latest_blog__text__end READ MORE
                .div.div2_3
                    .div.div2
                        .img: img(src="images/blog_2.png" alt="picture")
                        ol
                            li
                                h1.latest_blog__text__h1 The Seat just Drum
                            li
                                i.fa.fa-user.latest_blog__icon(aria-hidden="true")
                                span.latest_blog__text.text_icon  Admin
                                i.fa.fa-comment-o.latest_blog__icon(aria-hidden="true")
                                span.latest_blog__text.text_icon  25
                                i.fa.fa-heart-o.latest_blog__icon(aria-hidden="true")
                                span.latest_blog__text.text_icon  15
                            li
                                span.latest_blog__text A wonderful serenity has brokend which I enjoy with my whole my ti entire soul, like these sweet. We a Working Clealy and fress.
                            li
                                span.latest_blog__text__end READ MORE


                    .div.div3
                        .img: img(src="images/blog_3.png" alt="picture")
                        ol
                            li
                                h1.latest_blog__text__h1 The Shore are Lady
                            li
                                i.fa.fa-user.latest_blog__icon(aria-hidden="true")
                                span.latest_blog__text.text_icon  Admin
                                i.fa.fa-comment-o.latest_blog__icon(aria-hidden="true")
                                span.latest_blog__text.text_icon  25
                                i.fa.fa-heart-o.latest_blog__icon(aria-hidden="true")
                                span.latest_blog__text.text_icon  15
                            li
                                span.latest_blog__text A wonderful serenity has brokend which I enjoy with my whole my ti entire soul, like these sweet. We a Working Clealy and fress.
                            li
                                span.latest_blog__text__end READ MORE




