services.services
   .services__head
       .container
            span.services__head__text What we are offering
            h1.services__head__title Our Services

   .services__block
      .container
        .div
            .image: img.logo__picture(src="images/house_cleaning.png" alt="picture")
            .image.text: img.logo__picture(src="images/house_cleaning_vector.png" alt="picture")
            .text
                h1 House Cleaning
                span A wonderful serenity has taken of my entire soul, like these sweet spring his which enjoy with my whole heart, like a these sweet spring.

        .div__center
            .image: img.logo__picture(src="images/window_cleaning.png" alt="picture")
            .image.text: img.logo__picture(src="images/window_cleaning_vector.png" alt="picture")
            .text
                h1 Window Cleaning
                span A wonderful serenity has taken of my entire soul, like these sweet spring his which enjoy with my whole heart, like a these sweet spring.

        .div
             .image: img.logo__picture(src="images/garden_cleaning.png" alt="picture")
             .image.text: img.logo__picture(src="images/garden_cleaning_vector.png" alt="picture")
             .text
                h1 Garden Cleaning
                span A wonderful serenity has taken of my entire soul, like these sweet spring his which enjoy with my whole heart, like a these sweet spring.