.information{
  padding: 30px 0px 30px 0px;
  .container{
  min-height: 745px;
  position: relative;
  color: #fff;
  background: #ccc url('../images/men.png') no-repeat;

  }
  .tells{
    top: 500px;
    margin-left: auto;
    margin-right: 0;
    min-height: 575px;
    max-width: 575px;
    background-color: #038fd6;
    border: solid 33px white;
    border-right:0;
    border-top:0;

    .div{
      padding: 140px 60px 50px 60px ;
    }
    &__title1{
    font-size: 1rem;
    }

    &__title2{
      font-size: 2rem;
    }

    &__about{
      font-size: 1rem;
    }
    &__line{
      width: 32px;
      margin-left: 0;
      margin-bottom: 25px;
      background-color: orange;
      border: none;
      height: 3px;


    }
  }
}
  .click{
    margin-left: auto;
    margin-right: 0;
    height: 170px;
    max-width: 479px;
    border-left:solid 33px white;

    &__about{
      font-family: $ff-main-bold;
      font-size: 1.25rem;
      line-height: 1;
      margin-bottom: 0;
    }

    &__title {
      margin-top: 0;
      margin-bottom: 0;
    }
    .button {
      width: 100%;
      height: 100%;
      display: flex;

      align-items: center;

      .icon {
        width: 30%;
        text-align: center;
        padding-right: 10px;
        color: white;
        font-size: 50px;
      }

    }
  }


