.button {
  display: inline-block;
  border-radius: 3px;
  padding: 15px 30px 13px;
  text-decoration: none;

  &--orange {
    background: orange;
    color: #fff;
    transition: 0.3s;

    &:hover {
      background: lighten(orange, 7%);
    }
  }
}