@font-face{
  font-family: "JosefinSans-Bold";
  src: url("../../fonts/JosefinSans-Bold.woff") format("woff"),
  url("../../fonts/JosefinSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "JosefinSans-SemiBold";
  src: url("../../fonts/JosefinSans-SemiBold.woff") format("woff"),
  url("../../fonts/JosefinSans-SemiBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face{
  font-family: "Raleway-Regular";
  src: url("../../fonts/Raleway-Regular.woff") format("woff"),
  url("../../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "AGOldFace-Regular";
  src: url("../../fonts/AGOldFace-Regular.woff") format("woff"),
  url("../../fonts/AGOldFace-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}